# Table of Contents

1. [Importing Data & Libraries](#1.-Importing-Data-&-Libraries)
    
    1.1 [Initial Exploration](#1.1-Initial-Exploration) <br><br>
    
2. [Exploratory Data Analysis](#2.Exploratory-Data-Analysis)

    2.1 [Missing Values](#2.1-Missing-Values)
    
    2.2 [Duplicates](#2.2-Duplicates)
    
    2.3 [Incoherencies](#2.3-Incoherencies)
    
    2.4 [Outliers](#2.4-Outliers)
    
    2.5 [Feature Engineering](#2.5-Feature-Engineering)
    
    2.6 [Visualisations](#2.6-Visualisations) <br><br>

# 1. Importing Data & Libraries

In [1]:
import pandas as pd
import numpy as np 
from ydata_profiling import ProfileReport

pd.set_option('display.max_columns', None)


import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('./DM2425_ABCDEats_DATASET.csv')
data

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,CUI_American,CUI_Asian,CUI_Beverages,CUI_Cafe,CUI_Chicken Dishes,CUI_Chinese,CUI_Desserts,CUI_Healthy,CUI_Indian,CUI_Italian,CUI_Japanese,CUI_Noodle Dishes,CUI_OTHER,CUI_Street Food / Snacks,CUI_Thai,DOW_0,DOW_1,DOW_2,DOW_3,DOW_4,DOW_5,DOW_6,HR_0,HR_1,HR_2,HR_3,HR_4,HR_5,HR_6,HR_7,HR_8,HR_9,HR_10,HR_11,HR_12,HR_13,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,28.88,0.00,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,12.82,6.39,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,9.20,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,0.00,13.70,0.00,0.0,0.0,0.0,0.00,0.0,17.86,0.00,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,14.57,40.87,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,1,0.0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31883,f4e366c281,8670,30.0,1,1,1,NaN,0,FREEBIE,DIGI,0.00,0.00,18.04,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
31884,f6b6709018,8670,NaN,1,1,0,NaN,0,DELIVERY,DIGI,18.04,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
31885,f74ad8ce3f,8670,24.0,1,1,1,NaN,0,-,DIGI,0.00,0.00,0.00,0.0,0.0,0.0,17.79,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31886,f7b19c0241,8670,34.0,1,1,0,NaN,0,DISCOUNT,DIGI,0.00,12.03,0.00,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
31887,fd40d3b0e0,4660,30.0,1,1,0,NaN,0,-,CASH,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.00,7.91,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

## 1.1 Initial Exploration

In [ ]:
profile = ProfileReport(
    data, 
    title='Data',
    correlations={
        "pearson": {"calculate": True},
        "spearman": {"calculate": False},
        "kendall": {"calculate": False},
        "phi_k": {"calculate": False},
        "cramers": {"calculate": False},
    },
)

profile

# Exploratory Data Analysis

In [3]:
pd.set_option('display.max_rows', None)
data.describe().T

,count,mean,std,min,25%,50%,75%,max
customer_age,31161.0,27.506499,7.160898,15.0,23.0,26.0,31.00,80.00
vendor_count,31888.0,3.102609,2.771587,0.0,1.0,2.0,4.00,41.00
product_count,31888.0,5.668245,6.957287,0.0,2.0,3.0,7.00,269.00
is_chain,31888.0,2.818866,3.977529,0.0,1.0,2.0,3.00,83.00
first_order,31782.0,28.478604,24.109086,0.0,7.0,22.0,45.00,90.00
last_order,31888.0,63.675521,23.226123,0.0,49.0,70.0,83.00,90.00
CUI_American,31888.0,4.880438,11.654018,0.0,0.0,0.0,5.66,280.21
CUI_Asian,31888.0,9.960451,23.564351,0.0,0.0,0.0,11.83,896.71
CUI_Beverages,31888.0,2.300633,8.479734,0.0,0.0,0.0,0.00,229.22
CUI_Cafe,31888.0,0.801163,6.427132,0.0,0.0,0.0,0.00,326.10
CUI_Chicken Dishes,31888.0,0.768096,3.657273,0.0,0.0,0.0,0.00,219.66
CUI_Chinese,31888.0,1.431218,8.191755,0.0,0.0,0.0,0.00,739.73
CUI_Desserts,31888.0,0.884359,5.259868,0.0,0.0,0.0,0.00,230.07
CUI_Healthy,31888.0,0.950203,5.830590,0.0,0.0,0.0,0.00,255.81
CUI_Indian,31888.0,1.631153,7.443234,0.0,0.0,0.0,0.00,309.07
CUI_Italian,31888.0,3.233411,11.247990,0.0,0.0,0.0,0.00,468.33
CUI_Japanese,31888.0,2.995379,10.180851,0.0,0.0,0.0,0.00,706.14
CUI_Noodle Dishes,31888.0,0.711676,4.536457,0.0,0.0,0.0,0.00,275.11
CUI_OTHER,31888.0,2.999913,9.768300,0.0,0.0,0.0,0.00,366.08
CUI_Street Food / Snacks,31888.0,3.913253,15.548507,0.0,0.0,0.0,0.00,454.45
CUI_Thai,31888.0,0.841697,4.433047,0.0,0.0,0.0,0.00,136.38
DOW_0,31888.0,0.555914,1.013601,0.0,0.0,0.0,1.00,16.00
DOW_1,31888.0,0.567486,1.044090,0.0,0.0,0.0,1.00,17.00
DOW_2,31888.0,0.591006,1.045907,0.0,0.0,0.0,1.00,15.00
DOW_3,31888.0,0.619449,1.069672,0.0,0.0,0.0,1.00,17.00
DOW_4,31888.0,0.677747,1.088122,0.0,0.0,0.0,1.00,16.00
DOW_5,31888.0,0.652973,1.069947,0.0,0.0,0.0,1.00,20.00
DOW_6,31888.0,0.704246,1.167446,0.0,0.0,0.0,1.00,20.00
HR_0,30723.0,0.000000,0.000000,0.0,0.0,0.0,0.00,0.00
HR_1,31888.0,0.053845,0.317013,0.0,0.0,0.0,0.00,14.00
HR_2,31888.0,0.063190,0.351498,0.0,0.0,0.0,0.00,12.00
HR_3,31888.0,0.118759,0.500862,0.0,0.0,0.0,0.00,11.00
HR_4,31888.0,0.101700,0.437493,0.0,0.0,0.0,0.00,14.00
HR_5,31888.0,0.081943,0.358705,0.0,0.0,0.0,0.00,7.00
HR_6,31888.0,0.069681,0.329461,0.0,0.0,0.0,0.00,8.00
HR_7,31888.0,0.076800,0.377700,0.0,0.0,0.0,0.00,15.00
HR_8,31888.0,0.131899,0.635582,0.0,0.0,0.0,0.00,52.00
HR_9,31888.0,0.233912,0.724906,0.0,0.0,0.0,0.00,23.00
HR_10,31888.0,0.329560,0.891161,0.0,0.0,0.0,0.00,25.00
HR_11,31888.0,0.378167,0.959961,0.0,0.0,0.0,0.00,36.00
HR_12,31888.0,0.314162,0.842484,0.0,0.0,0.0,0.00,26.00
HR_13,31888.0,0.236453,0.637502,0.0,0.0,0.0,0.00,14.00
HR_14,31888.0,0.215630,0.599006,0.0,0.0,0.0,0.00,13.00
HR_15,31888.0,0.277032,0.738162,0.0,0.0,0.0,0.00,23.00
HR_16,31888.0,0.356435,0.874449,0.0,0.0,0.0,0.00,22.00
HR_17,31888.0,0.390962,0.943721,0.0,0.0,0.0,0.00,20.00
HR_18,31888.0,0.336961,0.893949,0.0,0.0,0.0,0.00,24.00
HR_19,31888.0,0.245610,0.795296,0.0,0.0,0.0,0.00,35.00
HR_20,31888.0,0.142812,0.586529,0.0,0.0,0.0,0.00,36.00
HR_21,31888.0,0.071155,0.348536,0.0,0.0,0.0,0.00,11.00
HR_22,31888.0,0.048263,0.298265,0.0,0.0,0.0,0.00,15.00
HR_23,31888.0,0.045189,0.282006,0.0,0.0,0.0,0.00,13.00

In [4]:
pd.reset_option('display.max_rows', None)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31888 entries, 0 to 31887
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               31888 non-null  object
 1   customer_region           31888 non-null  object
 2   customer_age              31161 non-null  float64
 3   vendor_count              31888 non-null  int64
 4   product_count             31888 non-null  int64
 5   is_chain                  31888 non-null  int64
 6   first_order               31782 non-null  float64
 7   last_order                31888 non-null  int64
 8   last_promo                31888 non-null  object
 9   payment_method            31888 non-null  object
 10  CUI_American              31888 non-null  float64
 11  CUI_Asian                 31888 non-null  float64
 12  CUI_Beverages             31888 non-null  float64
 13  CUI_Cafe                  31888 non-null  float64
 14  CUI_Chicken Dishes        31888 non-null  float64
 15  CUI_Chinese               31888 non-null  float64
 16  CUI_Desserts              31888 non-null  float64
 17  CUI_Healthy               31888 non-null  float64
 18  CUI_Indian                31888 non-null  float64
 19  CUI_Italian               31888 non-null  float64
 20  CUI_Japanese              31888 non-null  float64
 21  CUI_Noodle Dishes         31888 non-null  float64
 22  CUI_OTHER                 31888 non-null  float64
 23  CUI_Street Food / Snacks  31888 non-null  float64
 24  CUI_Thai                  31888 non-null  float64
 25  DOW_0                     31888 non-null  int64
 26  DOW_1                     31888 non-null  int64
 27  DOW_2                     31888 non-null  int64
 28  DOW_3                     31888 non-null  int64
 29  DOW_4                     31888 non-null  int64
 30  DOW_5                     31888 non-null  int64
 31  DOW_6                     31888 non-null  int64
 32  HR_0                      30723 non-null  float64
 33  HR_1                      31888 non-null  int64
 34  HR_2                      31888 non-null  int64
 35  HR_3                      31888 non-null  int64
 36  HR_4                      31888 non-null  int64
 37  HR_5                      31888 non-null  int64
 38  HR_6                      31888 non-null  int64
 39  HR_7                      31888 non-null  int64
 40  HR_8                      31888 non-null  int64
 41  HR_9                      31888 non-null  int64
 42  HR_10                     31888 non-null  int64
 43  HR_11                     31888 non-null  int64
 44  HR_12                     31888 non-null  int64
 45  HR_13                     31888 non-null  int64
 46  HR_14                     31888 non-null  int64
 47  HR_15                     31888 non-null  int64
 48  HR_16                     31888 non-null  int64
 49  HR_17                     31888 non-null  int64
 50  HR_18                     31888 non-null  int64
 51  HR_19                     31888 non-null  int64
 52  HR_20                     31888 non-null  int64
 53  HR_21                     31888 non-null  int64
 54  HR_22                     31888 non-null  int64
 55  HR_23                     31888 non-null  int64
dtypes: float64(18), int64(34), object(4)
memory usage: 13.6+ MB

In [6]:
data.isna().sum()

customer_id                    0
customer_region                0
customer_age                 727
vendor_count                   0
product_count                  0
is_chain                       0
first_order                  106
last_order                     0
last_promo                     0
payment_method                 0
CUI_American                   0
CUI_Asian                      0
CUI_Beverages                  0
CUI_Cafe                       0
CUI_Chicken Dishes             0
CUI_Chinese                    0
CUI_Desserts                   0
CUI_Healthy                    0
CUI_Indian                     0
CUI_Italian                    0
CUI_Japanese                   0
CUI_Noodle Dishes              0
CUI_OTHER                      0
CUI_Street Food / Snacks       0
CUI_Thai                       0
DOW_0                          0
DOW_1                          0
DOW_2                          0
DOW_3                          0
DOW_4                          0
DOW_5                          0
DOW_6                          0
HR_0                        1165
HR_1                           0
HR_2                           0
HR_3                           0
HR_4                           0
HR_5                           0
HR_6                           0
HR_7                           0
HR_8                           0
HR_9                           0
HR_10                          0
HR_11                          0
HR_12                          0
HR_13                          0
HR_14                          0
HR_15                          0
HR_16                          0
HR_17                          0
HR_18                          0
HR_19                          0
HR_20                          0
HR_21                          0
HR_22                          0
HR_23                          0
dtype: int64

## 2.5 Feature Engineering

In [7]:
### DUVIDAS

## Valores para is_chain #make assumptions number of orders
## customer region code pode ser descodificado para fazer mapa?

### Possibilidades
## criar bins para as idades (tipo young - 0, old -3)

In [8]:
for column in data.columns:
    
    if data[column].nunique() < 100:
        
        print(f"Unique values in '{column}': {data[column].unique()}\n")

Unique values in 'customer_region': ['2360' '8670' '4660' '2440' '-' '4140' '2490' '8370' '8550']

Unique values in 'customer_age': [18. 17. 38. nan 20. 40. 24. 27. 33. 26. 21. 51. 35. 22. 31. 15. 47. 19.
 28. 32. 25. 37. 42. 48. 16. 34. 29. 23. 30. 39. 46. 41. 49. 53. 36. 43.
 44. 45. 57. 58. 68. 56. 61. 60. 54. 59. 50. 55. 52. 65. 75. 66. 79. 80.
 63. 77. 62. 69. 72. 64. 76. 74. 67. 70. 78. 71. 73.]

Unique values in 'vendor_count': [ 2  1  3  4  5  7  6 11  9  8 12 14 20 13 10 16 24 18 17 15 25 30 19 21
 23 22 28 32 41 40 26  0 27 34 31 35 29]

Unique values in 'product_count': [  5   2   3   4   6  10   8  17   7  26   9  32  15  13  16  28  19  12
  18  11  25  14  23  29  21  31  95  24  64  27  37  49  22  41  51  34
  39  20  30  47  40  53  38  54  35  33  56  65  45  63  36  79  48  70
  44  84  46  66  57  58  83 110 117 269  75  55  42  81  91  43  69  67
  72  59   1   0  77  97  87  73  76  60 109  52  62  94  80  89  61  82
  50  88  68]

Unique values in 'is_chain': [ 1  2  0  3  5  4  7 12  6 23  8 11 20 14  9 10 16 15 13 25 17 27 30 32
 24 18 26 28 22 40 31 39 21 37 19 33 65 38 29 45 47 73 81 56 35 46 67 44
 61 34 36 49 83 75 43 42 48 63 54 80]

Unique values in 'first_order': [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53.
 54. 55. 56. 57. 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71.
 72. 73. 74. 75. 76. 77. 78. 79. 80. 81. 82. 83. 84. 85. 86. 87. 88. 89.
 90. nan]

Unique values in 'last_order': [ 1  2  3  4  5  6  7  8 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25 26
 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90  9 15  0]

Unique values in 'last_promo': ['DELIVERY' 'DISCOUNT' '-' 'FREEBIE']

Unique values in 'payment_method': ['DIGI' 'CASH' 'CARD']

Unique values in 'DOW_0': [ 1  0  2  3  5  4  9  6  8 10  7 11 15 16]

Unique values in 'DOW_1': [ 0  1  2  3  6  4  9  5 10  8  7 11 13 15 17 16 12]

Unique values in 'DOW_2': [ 0  1  2  3  4  9  5  7  6  8 15 14 10 11 12 13]

Unique values in 'DOW_3': [ 0  1  2  3  4  8  5  6  7  9 10 14 11 17 13 12 16]

Unique values in 'DOW_4': [ 0  1  2  3  6 10  4  7  5  8  9 11 14 12 13 15 16]

Unique values in 'DOW_5': [ 0  1  2  3  5  4 10  7  9  6  8 13 11 15 12 20 14]

Unique values in 'DOW_6': [ 1  2  3  4  7  9  6  5  8 10 11 17 13 12 14 20  0]

Unique values in 'HR_0': [ 0. nan]

Unique values in 'HR_1': [ 0  1  2  4  3  5  9  6  8 14  7]

Unique values in 'HR_2': [ 0  1  2  5  7  3 12  6  8 10  9  4]

Unique values in 'HR_3': [ 0  1  2  5  7  3  4  6  8 10 11  9]

Unique values in 'HR_4': [ 0  1  2 13  5 10  3  7  4 14  8  6  9]

Unique values in 'HR_5': [0 1 2 4 3 7 5]

Unique values in 'HR_6': [0 1 2 4 3 7 8 5 6]

Unique values in 'HR_7': [ 0  1  2  3  6  5  4  7 13 14  8 15  9]

Unique values in 'HR_8': [ 0  1  2  4  3  6  5 10  8  7 29 21 13 26 52 20  9 12]

Unique values in 'HR_9': [ 0  1  2  4  3  5  7  8  6  9 15 10 11 14 23 19 13]

Unique values in 'HR_10': [ 0  1  5  2  3  4  6 11  7  9  8 10 17 13 16 14 12 15 20 25]

Unique values in 'HR_11': [ 0  1  2  3  5  4 12  8 11 14  7  6  9 21 13 16 23 10 17 36]

Unique values in 'HR_12': [ 0  1  2  3  4 13  5  9 12  8  6  7 10 16 11 14 26 17 20]

Unique values in 'HR_13': [ 0  1  2  4  7  3 11  6  5  9 10 14  8 12]

Unique values in 'HR_14': [ 0  1  3  2  4  6  5  9  7 13  8 11 10]

Unique values in 'HR_15': [ 0  1  2  3  4  5  7  8  6 10 13 16 23  9 18]

Unique values in 'HR_16': [ 0  1  2  3  4  6  5 10  7 11  9 13 22  8 12]

Unique values in 'HR_17': [ 0  1  3  2  5  4  6 12  7 10  8 11  9 14 13 17 20 18 15]

Unique values in 'HR_18': [ 2  0  1  3  4 10  8  5  6 12 11  7 24  9 20 13 14 17 15 18]

Unique values in 'HR_19': [ 0  1  2  3  4  6  5  7  9  8 20 10 16 21 15 35 12 11 13]

Unique values in 'HR_20': [ 0  1  3  2  4  5  6 22  7 36  9 10  8 12 14 13]

Unique values in 'HR_21': [ 0  1  2  3  6  5  4  9 11 10]

Unique values in 'HR_22': [ 0  1  2  3  5 12  4  7  6 15]

Unique values in 'HR_23': [ 0  1  4  2  3  5 13  6 11  8]

In [5]:
data = data.dropna()

In [13]:
data.head(3)

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,CUI_American,CUI_Asian,CUI_Beverages,CUI_Cafe,CUI_Chicken Dishes,CUI_Chinese,CUI_Desserts,CUI_Healthy,CUI_Indian,CUI_Italian,CUI_Japanese,CUI_Noodle Dishes,CUI_OTHER,CUI_Street Food / Snacks,CUI_Thai,DOW_0,DOW_1,DOW_2,DOW_3,DOW_4,DOW_5,DOW_6,HR_0,HR_1,HR_2,HR_3,HR_4,HR_5,HR_6,HR_7,HR_8,HR_9,HR_10,HR_11,HR_12,HR_13,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23,first_order_date,last_order_date,days_between,last_promo_d,payment_method_d,total_week
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,28.88,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,01-01-2024,02-01-2024,1.0,1,0,2
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,12.82,6.39,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,01-01-2024,02-01-2024,1.0,2,0,2
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,9.20,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,01-01-2024,02-01-2024,1.0,2,1,2

*Dates*

In [19]:
from datetime import datetime, timedelta

start_date = datetime(2024, 1, 1)

data['first_order_date'] = data['first_order'].apply(
    lambda x: (start_date + timedelta(days=x)).strftime('%d-%m-%Y')
)

data['last_order_date'] = data['last_order'].apply(
    lambda x: (start_date + timedelta(days=x)).strftime('%d-%m-%Y')
)

*Days between the first and last transaction*

In [20]:
data['days_between'] = data['last_order'] - data['first_order']

*Dummies for Last Promotion variable*

In [21]:
data['last_promo_d'] = data['last_promo'].replace({
    '-': 0,
    'DELIVERY': 1,
    'DISCOUNT': 2,
    'FREEBIE': 3
})

*Dummies for Payment Method*

In [22]:
data['payment_method_d'] = data['payment_method'].replace({
    'DIGI': 0,
    'CASH': 1,
    'CARD': 2
})

*Total orders per week*

In [23]:
data['total_orders'] = data['DOW_0'] + data['DOW_1'] + data['DOW_2'] + data['DOW_3'] + data['DOW_4'] + data['DOW_5'] + data['DOW_6']

*Average hour for order placed*

In [24]:
hourly_orders = data.filter(like='HR_')

def avg_hour(row):
    total_orders = row.sum()
    
    if total_orders == 0:
        return None  
    
    weighted_sum_hours = (row.index.str.replace('HR_', '').astype(int) * row).sum()
    return weighted_sum_hours / total_orders

# Apply the function to each row and create a new column
data['avg_order_hour'] = hourly_orders.apply(avg_hour, axis=1)

*Total Spend*

In [25]:
columns_to_sum = [
    'CUI_American', 'CUI_Asian', 'CUI_Beverages', 'CUI_Cafe',
    'CUI_Chicken Dishes', 'CUI_Chinese', 'CUI_Desserts',
    'CUI_Healthy', 'CUI_Indian', 'CUI_Italian', 
    'CUI_Japanese', 'CUI_Noodle Dishes', 'CUI_OTHER', 
    'CUI_Street Food / Snacks', 'CUI_Thai'
]


data['total_spend'] = data[columns_to_sum].sum(axis=1)

*Average Spend per Product*

In [35]:
data['avg_spend_prod'] = np.where(data['product_count'] > 0, 
                                   data['total_spend'] / data['product_count'], 
                                   0)

*Customers that made more than 1 order*

In [27]:
data['is_repeat_customer'] = (data['days_between'] > 0).astype(int)

*Promotion Engagement*

In [30]:
data['has_used_promo'] = (data['last_promo_d'] > 0).astype(int)